{%extends 'myApp/parent.html'%}
<html lang="en" dir="ltr">
  <body>
    {% block for_child %}
    <div class="jumbotron">
      <div class="container" >
      <h1 style="color:red"><b><center><I>WELCOME TO SPY-BYTES DEVELOPER</I></center></b></h1><br>
      <h2><u>Rules and regulations for test</u></h2>
      <ul>
        <li>No calculator or smart phones are allowed</li>
        <li>Test will be for 30 mins each</li>
        <li>Indiscipline activities will be considered as malpractice</li>
        <li>Do not switch tabs during test</li>
        <li>Do not press ESC or F5 keys</li>
      </ul>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
